{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1> "</h1>


    <h1>About Us</h1>
    <p class="lead">Your premier event booking platform, connecting you with the best events in your city.</p>

    <section class="mt-5">
        <h2>Our Mission</h2>
        <p>
            Our mission is to foster vibrant communities by providing a seamless and user-friendly event platform. We strive to empower event organizers and enrich the lives of attendees by connecting them with engaging and memorable event experiences.
        </p>
    </section>

    <section class="mt-5">
        <h2>Our Team</h2>
        <p>We are a group of enthusiastic developers committed to delivering a high-quality event management solution.</p>
        <div class="row">
            <div class="col-md-6 mb-4">
                <h4>Moksh Aggarwal</h4>
                <p>Roll No: 2410993239</p>
            </div>
            <div class="col-md-6 mb-4">
                <h4>Mayur Mittal</h4>
                <p>Roll No: 2410993231</p>
            </div>
            <div class="col-md-6 mb-4">
                <h4>Mayank Singh</h4>
                <p>Roll No: 2410993230</p>
            </div>
            <div class="col-md-6 mb-4">
                <h4>Madhav Sharma</h4>
                <p>Roll No: 2410993220</p>
            </div>
        </div>
    </section>
</div>
{% endblock %}
