{% extends "base.html" %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="mb-4">{{ data.title }}</h1>
    <p class="lead">{{ data.description }}</p>

    <br><br>
    <div class="row mt-4">
        <div class="col-md-6">
            <h4>Contact Details</h4>
            <br>
            <ul class="list-unstyled">
                <li><strong>Email:</strong> <a href="mailto:{{ data.email }}">{{ data.email }}</a></li>
                <li><strong>Phone:</strong> <a href="tel:{{ data.phone }}">{{ data.phone }}</a></li>
                <li><strong>Address:</strong> {{ data.address }}</li>
                <li><strong>Office Hours:</strong> {{ data.office_hours }}</li>
            </ul>
        </div>

        <div class="col-md-6">
            <h4>Follow Us</h4>
            <br>
            <ul class="list-unstyled">
                <li><a href="{{ data.social_media.facebook }}" target="_blank">Facebook</a></li>
                <li><a href="{{ data.social_media.twitter }}" target="_blank">Twitter</a></li>
                <li><a href="{{ data.social_media.instagram }}" target="_blank">Instagram</a></li>
                <li><a href="{{ data.social_media.linkedin }}" target="_blank">LinkedIn</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
